ion-accordion-group {
  max-width: 600px;
  margin: 20px auto;
}

ion-accordion {
  margin: 16px 0;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

ion-accordion:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.accordion-header {
  --background: #f8f9fa;
  --color: #495057;
}

.header-content {
  display: flex;
  align-items: center;
  padding: 12px 16px;
}

.header-icon {
  font-size: 24px;
  margin-right: 16px;
  color: var(--ion-color-primary);
}

ion-label {
  font-weight: 600;
  font-size: 18px;
}

.accordion-content {
  background-color: #ffffff;
  padding: 20px;
}

.accordion-content p {
  margin: 10px 0;
  font-size: 16px;
  color: #495057;
}

ion-button {
  margin-top: 16px;
}


ion-accordion.accordion-expanding ion-item[slot="header"],
ion-accordion.accordion-expanded ion-item[slot="header"] {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-primary-contrast);
}

ion-accordion.accordion-expanding .header-icon,
ion-accordion.accordion-expanded .header-icon {
  color: var(--ion-color-primary-contrast);
}

.custom-button {
  width: 48%; /* Adjust as needed */
  margin: 1%;
}

.scan-button {
  float: left;
}

.attendance-button {
  float: right;
  border-color: #ffb800 !important;
  --border-color: #ffb800 !important;
}

/* Clear the float to prevent layout issues */
.accordion-content::after {
  content: "";
  display: table;
  clear: both;
}