<ion-content class="ion-padding">
  <ion-modal #modal  [isOpen]="isOpen" [enterAnimation]="enterAnimation" [leaveAnimation]="leaveAnimation" [cssClass]="'custom-modal'" (willPresent)="onWillPresent()">
    <ng-template>
      <div class="modal-content">
        <ion-button fill="clear" class="close-button" (click)="modal.dismiss()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>

        <!-- Mostrar el código QR solo cuando 'showQRCode' sea true -->
        <div *ngIf="showQRCode">
          <qrcode [qrdata]="image" [scale]="10" [margin]="0"></qrcode>
        </div>

        <!-- Mostrar imagen solo cuando 'showQRCode' sea false -->
        <img *ngIf="!showQRCode" [src]="image" alt="Icon" class="icon-img">
        <h2>{{title}}</h2>
        <p>{{content}}</p>
        <p>{{description}}</p>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>
