<ion-content [fullscreen]="true">
  <app-header title="Registro de asistencia" [showBackButton]="true"></app-header>
  <app-toolbar></app-toolbar>
  <app-logo class="d-flex-center"></app-logo>
  <div class="content-container">
    <div class="toggle-container">
      <ion-toggle class="custom-toggle" aria-label="Warning toggle" color="warning" labelPlacement="end" (ionChange)="mostrarAsignaturas($event)"> 
        <span class="toggle-label">Asignaturas transversales</span>
      </ion-toggle>
    </div>
    <app-accordion [data]="filteredTableData" [showQRColumn]="false"></app-accordion>
    <div class="scan-button-container">
      <ion-button (click)="startScannerWeb()" expand="block"  fill="outline" color="primary">          
        <ion-icon name="scan-outline" slot="end"></ion-icon>
        Registra tu asistencia
      </ion-button>
      <ion-button (click)="listarAsistencias()" expand="block"  fill="outline" color="primary">          
        <ion-icon name="scan-outline" slot="end"></ion-icon>
        Listar
      </ion-button>
    </div>
  </div>
</ion-content>




  <ion-button expand="block" (click)="setOpen(true)">Open</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Modal</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Close</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <p>
          <ion-item *ngFor="let item of historial">
            <ion-label>{{ item.seccion }}</ion-label>
            <ion-label>{{ item.asistencia }}</ion-label>
            <ion-label>{{ item.fecha }}</ion-label>
          </ion-item>
        
        </p>
      </ion-content>
    </ng-template>
  </ion-modal>
