<ion-content [fullscreen]="true">
  <app-header title="Registro de asistencia" [showBackButton]="true"></app-header>
  <app-toolbar></app-toolbar>
  <app-logo class="d-flex-center"></app-logo>
  <div class="content-container">
    <div class="toggle-container">
      <ion-toggle class="custom-toggle" aria-label="Warning toggle" color="warning" labelPlacement="end" (ionChange)="mostrarAsignaturas($event)"> 
        <span class="toggle-label">Asignaturas transversales</span>
      </ion-toggle>
    </div>
    <app-accordion [data]="filteredTableData" [showQRColumn]="false"></app-accordion>
    <div class="scan-button-container">
      <ion-button (click)="startScanner()" class="scan-button" expand="block" color="secondary">
        Escanear código QR
      </ion-button>
      <ion-button (click)="readQRCode()" expand="block" class="scan-button" color="secondary">
        Selecciona un código QR
      </ion-button>
    </div>
    {{scanResult}}
  </div>
</ion-content>