<ion-toolbar class="custom-toolbar" color="secondary">
  <ion-buttons slot="start">
    <ion-back-button *ngIf="showBackButton" text="Back" defaultHref="/" mode="ios"></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      {{ currentDate }}
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button (click)="openMenu()" class="profile-button">
      <ion-icon name="person-circle-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>