<app-header title="RegistrApp"></app-header>

<ion-content [fullscreen]="true">

  <div class="d-flex-center">

    <form [formGroup]="form" class="auth-form" (ngSubmit)="onSubmit()" (keypress.enter)="onSubmit()">

      <app-logo></app-logo>
      <app-custom-inputs 
        icon="mail-outline"
        autocomplete="email"
        [control]="form.controls.email"
        type="email"
        label="Correo electrónico"
      ></app-custom-inputs>
        
      <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
        <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
        <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
      </div>

      <app-custom-inputs 
        icon="key-outline"
        [control]="form.controls.password"
        type="password"
        label="Contraseña"
      ></app-custom-inputs>

      <div class="validators" *ngIf="form.controls.password.errors && form.controls.password.touched">
        <div *ngIf="form.controls.password.errors?.['required']">La contraseña es requerida</div>
      </div>

      <ion-button color="secondary" expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
        Ingresar
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-button>
    </form>  
  </div>

  <div class="d-flex-center">
    <div class="additional-options">
      <a class="forgot-password-link" routerLink="/forgotten-password">
        <ion-icon name="help-circle-outline"></ion-icon>
        Olvidé mi contraseña
      </a>

      <div class="register-section">
        <p class="no-account">¿No tienes cuenta?</p>
        <ion-button
          color="secondary"
          icon="person-add-outline"
          routerLink="/registro"
        >Regístrate</ion-button>
      </div>
    </div>
  </div>

  

  
</ion-content>
