<ion-item class="custom-input" lines="none">
  <ion-icon 
    color="primary" 
    *ngIf="icon"
    slot="start" 
    [name]="icon">
  </ion-icon>
  
  <ion-input 
    [type]="type"
    [autocomplete]="autocomplete"
    [label]="label"
    [formControl]="control"
    label-placement="floating"
    (input)="enforceMaxLength($event)"
    >
  </ion-input>

  <ion-button *ngIf="isPassword" (click)="showPassword()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye-off-outline' : 'eye-outline' "></ion-icon>
  </ion-button>
</ion-item>