<app-header title="RegistrApp"></app-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <app-logo class="d-flex-center"></app-logo>
    <h3 class="welcome-text">Bienvenido</h3>

    <div class="button-container">
      <ion-button class="custom-button" expand="block" [routerLink]="['/profile']">
        <div class="button-content">
          <ion-icon name="person-outline" class="icon-secondary"></ion-icon>
          <span>Mi Perfil</span>
        </div>
      </ion-button>

      <ion-button class="custom-button" expand="block" [routerLink]="['/schedule']">
        <div class="button-content">
          <ion-icon name="time-outline" class="icon-secondary"></ion-icon>
          <span>Mi Horario</span>
        </div>
      </ion-button>

      <ion-button class="custom-button" expand="block" [routerLink]="['/attendance']">
        <div class="button-content">
          <ion-icon name="calendar-outline" class="icon-secondary"></ion-icon>
          <span>Mi Asistencia</span>
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>