<app-header title="RegistrApp"></app-header>

<ion-content [fullscreen]="true">
  <div class="content-wrapper">
    <div class="date-container">
      <h4>{{ currentDate }}</h4>
    </div>
    <h3 class="welcome-text">Bienvenido</h3>

    <div class="d-flex-center">

      <ion-button color="secondary" expand="block" mode="ios" shape="round" class="submit" type="submit" 
      [routerLink]="['/login']">
        Mi Perfil
        <ion-icon slot="end" name="person"></ion-icon>
      </ion-button>

      <ion-button color="secondary" expand="block" mode="ios" shape="round" class="submit" type="submit" 
      [routerLink]="['/login']">
        Mi Horario
        <ion-icon slot="end" name="calendar"></ion-icon>
      </ion-button>
      
      <ion-button color="secondary" expand="block" mode="ios" shape="round" class="submit" type="submit" 
      [routerLink]="['/login']">
        Mi Asistencia
        <ion-icon slot="end" name="podium"></ion-icon>
      </ion-button>

      <ion-button color="secondary" expand="block" mode="ios" shape="round" class="submit" type="submit" 
      [routerLink]="['/login']">
        Registrar Asistencia
        <ion-icon slot="end" name="checkmark-circle"></ion-icon>
      </ion-button>

    </div>
  </div>
  
</ion-content>

