<ion-content [fullscreen]="true">
  <app-header title="RegistrApp"></app-header>
  <app-toolbar></app-toolbar>
  <div class="content-wrapper">
    <app-logo class="d-flex-center"></app-logo>
    <h3 class="welcome-text">Bienvenido</h3>

    <ion-card mode="ios" class="custom-card">
      <img alt="Imagen Perfil" src="assets/icon/perfil.jpg" />
      <ion-card-header>
        <ion-card-subtitle class="card-sub">
          <ion-button fill="outline" color="secondary" class="card-sub" [routerLink]="['/profile']">Mi Perfil</ion-button>
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content class="card-cont">
        Explora tu perfíl y edita tus datos personales.
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="custom-card">
      <img alt="Imagen Horario" src="assets/icon/horario.png" />
      <ion-card-header>
        <ion-card-subtitle class="card-sub">
          <ion-button fill="outline" color="secondary" class="card-sub">Mi Horario</ion-button>
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content class="card-cont">
        No te pierdas tus clases, revisa tu horario aquí.
      </ion-card-content>
    </ion-card>

    <ion-card mode="ios" class="custom-card">
      <img alt="Imagen Asistencia" src="assets/icon/asistencia.jpg" />
      <ion-card-header>
        <ion-card-subtitle class="card-sub">
          <ion-button fill="outline" color="secondary" class="card-sub" [routerLink]="['/assistance']">Gestión de Asistencia</ion-button>
        </ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content class="card-cont">
        Registrar la asistencia nunca fue tan fácil y rápido.
      </ion-card-content>
    </ion-card>

    
  </div>
</ion-content>