<app-header title="RegistrApp" [showBackButton]="true"></app-header>


<ion-content [fullscreen]="true">
<div class="d-flex-center">
    

    <form [formGroup]="forgottenForm">
    <div class="d-flex-center">
      <app-logo></app-logo>
    </div>
    <p class="text">Ingresa tu correo electrónico y enviaremos un código de recuperación para que puedas actualizar tu contraseña:</p>

    <app-custom-inputs 
    icon="mail-outline"
    autocomplete="email"
    type="email"
    label="Correo electrónico"
    [control]="forgottenForm.controls.email"
    [maxLength]="50"
    ></app-custom-inputs>
    </form>
</div>

<div class="d-flex-center">
    <ion-button (click)="validarEmail()" color="secondary" mode="ios" class="submit">
      Enviar código
      <ion-icon slot="end" name="mail-unread-outline"></ion-icon>
    </ion-button>
  </div>

  

</ion-content>


