<app-header title="RegistrApp" [showBackButton]="true"></app-header>


<ion-content [fullscreen]="true">
<div class="d-flex-center">
    

    <form [formGroup]="forgottenForm">
    <div class="d-flex-center">
      <app-logo></app-logo>
    </div>
    <p class="text">Ingresa tu correo electrónico y enviaremos un link de recuperación para que puedas actualizar tu contraseña:</p>

    <app-custom-inputs 
    icon="mail-outline"
    autocomplete="email"
    type="email"
    label="Correo electrónico"
    [control]="forgottenForm.controls.email"
    [maxLength]="50"
    ></app-custom-inputs>
    </form>
</div>

<div class="validators" *ngIf="forgottenForm.controls.email.errors && forgottenForm.controls.email.touched">
  <div *ngIf="forgottenForm.controls.email.errors?.['required']">El correo es requerido</div>
  <div *ngIf="forgottenForm.controls.email.errors?.['email']">Ingrese un correo válido</div>
</div>

<div class="d-flex-center">
    <ion-button (click)="onSubmit()" color="secondary" mode="ios" class="submit" [disabled]="forgottenForm.invalid">
      Recuperar contraseña
      <ion-icon slot="end" name="mail-unread-outline"></ion-icon>
    </ion-button>
  </div>


</ion-content>

<app-modal #modal
[title]="title"
[content]="content"
[image]="image"
[description]="description"
[autoClose]="autoClose"
[redirectTo]="redirectTo">
</app-modal>


