<app-header title="Recuperar contraseña" [showBackButton]="true"></app-header>


<ion-content [fullscreen]="true">
<div class="d-flex-center">
    

    <form [formGroup]="forgottenForm">
    <app-logo></app-logo>
    <app-custom-inputs 
    icon="mail-outline"
    autocomplete="email"
    type="email"
    label="Correo electrónico"
    [control]="forgottenForm.controls.email"
    ></app-custom-inputs>
    </form>
</div>

<div class="d-flex-center">
    <ion-button color="secondary" mode="ios" class="submit">
      Validar correo
      <ion-icon slot="end" name="mail-unread-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>


